<main>
  <video autoplay loop muted [playbackRate]="0.6" class="background">
    <source src="assets/background.mp4" type="video/mp4" />
  </video>
  <div class="content">
    <h1 class="title">Pin roulette</h1>
    <p class="description">
      Can't choose a crafting project to work on? Are you tired of making
      decisions? Just press the button and let it inspire you!
    </p>
    <button class="primary-button with-hover" (click)="chooseProject()">
      Randomize
    </button>
    @if (isLoading || error) {
    <div class="result">
      <span [ngClass]="{ message: true, error }">{{
        isLoading ? "Loading..." : error
      }}</span>
    </div>
    } @else if (result) {
    <a
      [href]="result.link"
      target="_blank"
      rel="noopener noreferrer"
      class="result with-hover pin-link"
    >
      <img
        [src]="result.thumbnail"
        class="pin-thumbnail"
        [width]="result.width"
        [height]="result.height"
      />
      <figcaption>{{ result.name }}</figcaption>
    </a>
    }
  </div>
</main>

<router-outlet />
